$board-color: #000;
$cell-color: #ccc;
$grid-image: linear-gradient(#333 1px, transparent 1px),    linear-gradient(90deg, #333 1px, transparent 1px);
$main-font: "Roboto Light", sans-serif;
$font-size: 13px;

* {
    font-family: $main-font;
    text-align: center;
}

.universe {
    &__board {
        position: relative;
        margin: 20px auto;
        background-color: $board-color;
        background-image: $grid-image;
    }
    &__cell {
        background: $cell-color;
        position: absolute;
    }
    &__controls {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 5px;
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        & legend {
            font-size: $font-size;
        }
        & fieldset {
            grid-column: 1/3;
            &:last-child {
                grid-column: 3/5;
            }
        }
        & input{
            text-align: center;
            margin: 0 5px;
            width: 30px;
        }
    }
}
